<div class="space-y-6 py-6 px-10">
    {{#each this}}
        <div class="border rounded-lg bg-white
                    px-8 py-6 space-y-5 ">
            <div id="Image Section" class="pt-2">
                <img src="{{dynamicImage this.c_heroImagePage.url "200x200" true}}" width="108" height="108">
            </div>
            <div id="Location Details">
                <h2>{{this.c_locationNickname}}</h2>
                <div>
                    <span>
                        <img class="inline-block pb-1" src="/images/get-directions.svg" alt="">
                    </span>
                    <a class="hover:underline" href="https://www.google.com/maps/dir/?api=1&destination={{name}} {{address.line1}} {{address.city}} {{address.region}} {{address.postalCode}}">
                        {{this.address.line1}}, {{address.city}} {{address.region}} {{address.postalCode}}
                    </a>
                </div>
            </div>
            <div id="CTA Button">
                <a href={{this.websiteUrl}} class="btn bg-ll-blue text-white rounded-lg inline-block hover:bg-ll-hover-blue">Click here &#8594; 
                </a>
            </div>
            <div id="Special Features Section">
                <div>Special Features:</div>
                {{!-- {{#each }} --}}
                    <ul class="check-mark-ul">
                        <li class="check-mark-li"> Feature 1</li>
                        <li class="check-mark-li"> Feature 2</li>
                    </ul>
                {{!-- {{/each}} --}}
            </div>
            <div id="Availability">
                {{#if this.c_limitedAvailability}}
                    <h4>Limited Availability</h4>
                {{/if}}
            </div>

        </div>
    {{/each}}
</div>
