<h1 class="text-4xl mb-10 font-extrabold text-ll-blue">
    Customer Reviews
</h1>

            <section class="wrapper_carousel px-5 pt-5 flex flex-col justify-center w-full" role="region" aria-label="testimonial carousel">
                <div class="carousel-data relative overflow-hidden flex items-center justify-center w-full">
                    {{#each global.reviews}}
                        <div class="carousel-item" role="group" aria-label="slide {{@index}} of {{length global.reviews}}">
                            <div>
                                <img src="/images/5star.png" height="30" width="200">
                            </div>
                            <p class="text_caption italic my-8">
                                {{this.caption}}
                            </p>
                            <span class="caption-author">
                                - {{this.name}}
                            </span>
                            <span class="caption-date">
                                {{this.date}}
                            </span>
                        </div>
                    {{/each}}
                </div>
            
                <div class="carousel-indicators flex items-center">
                        
                </div>
            
                <div class="carousel-controls flex justify-end" aria-label="carousel controls">
                    <button type="button" class="button_carousel-prev" aria-label="previous"><i class="fas fa-caret-left"></i></button>
                    <button type="button" class="button_carousel-next ml-1" aria-label="next"><i class="fas fa-caret-right"></i></button>
                </div>
            
            </section>

<link rel="stylesheet" href="../carousel.css"> 
<script src="carousel.js"></script>
<script src="https://kit.fontawesome.com/030818ddcd.js" crossorigin="anonymous"></script>

<script>
</script>