---
{
    "stream": {
        "$id": "sites-locations",
        "source": "knowledgeGraph",
        "destination": "pages",
        "fields": [
        "id", 
        "uid", 
        "name", 
        "address", 
        "mainPhone",
        "hours" ,
      "services",
        "description", 
        "slug"
        ], 
        "filter" : {
            "entityTypes": [
                "location"
            ]
        }
    },
    "urlFormat": "{{id}}"
}
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{name}} - {{geomodifier}} </title>
    <script src="main.js"></script>

   </head>
    <body>         
        <div class="container bg-gray-50 mx-auto px-32">
          <div class='mt-6'> 
            <h1 class='text-4xl font-extralight'> {{name}} </h1>
            <div class='address'>
              <div class='text-lg font-bold mb-4'> Address:</div>
              <div> 
                <p> {{address.line1}} {{address.city}}, {{address.region}} {{address.postalCode}}</p>
              </div>
            </div>
            <div class='details'>
              <div class='text-lg font-bold mb-4'> Details:</div>
              <div> 
                <p> {{description}}</p>
              </div>
            </div>


            <div class='branch-hours pr-32'>
              <h4 class='text-lg font-bold my-4' >Branch Hours</h4>
              <div class='hours-list'>
                {{#each hours}}
                    {{#if this.date}}
                    {{else}}
                      <p><b>{{@key}}:</b>
                      {{#each this}}
                        {{#if isClosed}}
                          Closed
                        {{/if}}
                        {{#each this}}
                          {{this.start}}-{{this.end}}
                        {{/each}}
                      {{/each}} 
                      </p> 
                    {{/if}}
                {{/each}}
              </div>
            </div>



            <div class='branch-services pr-32'>
              <h4 class='text-2xl font-bold my-4'>Services</h4>
              <ul class="branch-services-list list-disc">
                {{#each services}}
                  <li>{{this}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>

        







    </body> 
</html>